{% capture referral_link %}http://{{host}}{{idea.referral_link}}{% endcapture %}
<div class="rel">
  <h1>Win {{ space.prize_title }}</h1>

  <p>
    <span class="subtle">{{ space.after_entry_text }}</span>
  </p>

  {% if space.referrals_enabled == "1" %}
    <h1>You have {{ idea.referrals | times:space.referral_multiplier | plus:1 | pluralize: 'entry', 'entries' }}</h1>

    <p>{{ space.referral_guide }}</p>
  {% endif %}

  <div class="addthis_sharing_toolbox"></div>

  <p>
    <span class="subtle">or share this link anywhere:</span>
  </p>

  <div class="input-with-button-appended">
    <input id="referral_link" type="text" value="http://{{host}}{{idea.referral_link}}" readonly>
    <a id="referral_link_button" href="#" class="button js-clipboard" data-clipboard-target="#referral_link">Copy</a>
  </div>

  {% if space.referrals_enabled == "1" %}
    <p>Each referral gives you <b>{{ space.referral_multiplier }} more entires.</b></p>
  {% endif %}

</div>

<script>
    window.addthis_share = {
      url: "http://{{host}}{{idea.referral_link}}",
      passthrough: {
        facebook: {
          text: "{{ space.facebook_message }}"
        },
        pinterest: {
          text: "{{ space.pinterest_message }}"
        },
        google: {
          text: "{{ space.google_message }}"
        },
        twitter: {
          text: "{{ space.twitter_message }}"
        }
      }
    }
  </script>
