{% capture referral_link %}http://{{host}}{{idea.referral_link}}{% endcapture %}
<div class="rel">
  <p>
    <span class="subtle">{{ space.after_enter_text }}</span>
  </p>

  <h1>You have {{ idea.referrals | times:space.referal_multiplier | plus:1 | pluralize: 'entry', 'entries' }}</h1>

  <p>{{ space.referal_guide }}</p>

  <div class="addthis_sharing_toolbox"></div>

  <p>
    <span class="subtle">or share this link anywhere:</span>
  </p>

  <div class="input-with-button-appended">
    <input id="referral_link" type="text" value="http://{{host}}{{idea.referral_link}}" readonly>
    <a id="referral_link_button" href="#" class="button js-clipboard" data-clipboard-target="#referral_link">Copy</a>
  </div>

  <p>Each referral gives you <b>{{ space.referal_multiplier }} more entires.</b></p>
</div>

<script>
    window.addthis_share = {
      url: "http://{{host}}{{idea.referral_link}}",
      passthrough: {
        facebook: {
          text: "{{ facebook_message }}"
        },
        pinterest: {
          text: "{{ pinterest_message }}"
        },
        google: {
          text: "{{ google_message }}"
        },
        twitter: {
          text: "{{ twitter_message }}"
        }
      }
    }
  </script>
