<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>rusic-theme-competition</title>

    <link href="{{ 'style.css' | stylesheet_url }}" rel="stylesheet" />
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({
        publisher: "e326261c-7fbe-4a1d-baee-7b2ac62c748b",
        doNotHash: false,
        doNotCopy: true,
        hashAddressBar: false,
        text: "TEST"
      });
    </script>

    <style>
      body {
        background-color: {{ space.primary_color }};
        background-image: url({{ space.background_image }});
        background-size: cover;
        background-position: center;

        {% if space.background_image_mode == "contain" %}
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        {% elsif space.background_image_mode == "tile" %}
          background-size: auto;
        {% endif %}
      }

      {% if space.background_image != "" %}
        .wrapper {
          background-image: none;
        }
      {% endif %}

      .button { background: {{ space.primary_color }}; }
      .card--image {
        background-image: url({{ space.primary_image }});
        background-color: {{ space.primary_color }};
      }

      {% if space.mobile_primary_image %}
        @media only screen and (max-width: 750px) {
          .card--image {
            background-image: url({{ space.mobile_primary_image }});
          }
        }
      {% endif %}
    </style>
  </head>

  <body class="{{ space.layout }}">

    <div class="wrapper">
      <div class="card">
        <div class="card--image"></div>
        <div class="card--body">
          {% if space.expired? %}
            <div class="expired">
              <h3>Sorry</h3>
              <h6>The competition has now been closed. Winners will be notified by email.</h6>
            </div>
          {% else %}
            {{ content_for_layout }}
          {% endif %}
        </div>
      </div>
    </div>

    {{ space.additional_scripts }}
    {% if space.google_analytics_code != "" %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ space.google_analytics_code }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <script src="{{ 'script.js' | javascript_url }}"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56c5cb60941da325"></script>
  </body>
</html>
